recursive-include config *.prc
recursive-include config *.yaml
recursive-include effects *.yaml
recursive-include rpcore/data *.bam
recursive-include rpcore/data *.ies
recursive-include rpcore/data *.jpg
recursive-include rpcore/data *.png
recursive-include rpcore/data *.ttf
recursive-include rpcore/data *.txo.pz
recursive-include rpcore/data *.xml
recursive-include rpplugins *.ffxml
recursive-include rpplugins *.glsl
recursive-include rpplugins *.png
recursive-include rpplugins *.txo.pz
recursive-include rpplugins *.yaml
recursive-include shader *.glsl
recursive-include toolkit *.bam
recursive-include toolkit *.glsl
recursive-include toolkit *.ini
recursive-include toolkit *.png
recursive-include toolkit *.prc
recursive-include toolkit *.qrc
recursive-include toolkit *.ui
recursive-include toolkit *.xml
recursive-include toolkit *.yaml
